win-home-product {
	min-height: 375px;
}

.wd-pagination ul {
	justify-content: center;
}

.pagination .page-item.active .page-link {
	background-color: #FFA000;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #000000;
}

/** Number Input CSS **/

.value-button {
	display: inline-block;
	margin: 0px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 6px 0;
	color: #ffffff;
	background: #ffc107;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.value-button:hover {
	cursor: pointer;
	background-color: #E7A907;
}


form #input-wrap {
	margin: 0px;
	padding: 0px;
}

input#number {
	text-align: center;
	border: none;
	margin: 0px;
	width: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.win-cart-counter {
	padding: 3px 6px;
	position: absolute;
	top: 12px;
	left: 18px;
	font-size: 11px;
	background-color: #FFA001;
	border: 1px #FFA001 solid;
	border-radius: 50%;
}

#canvasGame {
	top: 0;
	left: 0;
	border: none;
}

svg {
	/*z-index: 1001 !important;*/
	background-color: rgba(0, 0, 0, 0);
}

/** Credits Counter Page CSS **/
.wd-credits-heading {
	color: #ffffff;
	background-color: #000000;
}

.wd-credits-counter {
	font-size: 96px;
	font-weight: bold;

}

/* AJAX Spinner */
#ajaxSpinner {
	background-color: rgba(0, 0, 0, .8);
	position: absolute;
	z-index: 10000;
	width: 100% !important;
	height: 100% !important;
	top: 0;
	left: 0;
	background-image: url("https://win.test/images/ajax-loader.gif");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
}

.ajaxSpinnedShow {
	display: block !important;
}

.activeTicket {
	box-shadow: 0px 2px 8px rgba(0, 200, 81, .5);
}

.side-nav {
	overflow: scroll;
}

#acab {
	transition: transform 0.01s;
	position: absolute;
	margin-left: 70px;
	left: 10000px;
	z-index: 100;
}

#canvasGame {
	left: 15px;
}

.unStampedActive > div {
	-webkit-box-shadow: 0 2px 5px 0 rgba(124, 198, 6, 0.8), 0 2px 10px 0 rgba(124, 198, 6, 0.6);
	box-shadow: 0 2px 5px 0 rgba(124, 198, 6, 0.8), 0 2px 10px 0 rgba(124, 198, 6, 0.6);
}

.magnifier-thumb-wrapper {
	position: absolute !important;
	display: inline-block !important;
}

.magnifier-preview {
	position: absolute !important;
}

.wd-header-cart-button {
	padding-right: 15px !important;
}

.wd-remove-ticket-button {
	border: none;
	text-decoration: none;
	color: #000;
	width: 85px;
	font-size: 13px;
	cursor: pointer;
}

.wd-remove-ticket-button:hover {
	color: orange;
}

.playingText {
	font-size: 13px;
}

.wd-side-remove {
	background: none;
	border: none;
	cursor: pointer;
}

.wd-side-remove:hover {
	color: orange;
}

.wd-side-remove-form {
	display: inline;
	margin-left: 20px;
}

.preventer {
	position: absolute;
	width: 895px;
	height: 500px;
	background-image: url(../images/main1.png);
	background-repeat: no-repeat;
	z-index: 200;
	cursor: none;
	color: white;
	font-size: 26px;
	line-height: 36px;
	vertical-align: middle;
	padding: 200px 30px;
	margin-left: 15px;
}

input {
	padding-left: 5px !important;
}

.red-background {
	background-color: red !important;
}

.hidepointer {
	display: none !important;
	visibility: hidden !important;
}

#ticketsSlider li:hover .card {
	background-color: #f5f5f5;
	cursor: pointer;
}

.wd-remove-ticket-button {
	background-color: rgba(0, 0, 0, 0) !important;
}

.win-order ol {
	counter-reset: item;
	margin-bottom: 20px !important;
}

.win-order ol li {
	display: block;
	margin-bottom: 20px !important;
}

.win-order ol li:before {
	content: counters(item, ".") ".  ";
	counter-increment: item;
}

.win-order strong {
	margin-bottom: 30px !important;
}

.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}


.datagrid table td, .datagrid table th {
	padding: 3px 10px;
}

.datagrid table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
	background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color: #8C8C8C;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #A3A3A3;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	color: #7D7D7D;
	border-left: 1px solid #DBDBDB;
	font-size: 12px;
	font-weight: normal;
}

.datagrid table tbody .alt td {
	background: #EBEBEB;
	color: #7D7D7D;
}

.datagrid table tbody td:first-child {
	border-left: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

.side-nav a {
	display: block;
	font-size: 1rem;
	height: auto !important;
	line-height: 1.4rem;
	padding-left: 20px;
}

div.setDisplayFlex{
   display: flex ;
}

@media (min-width: 992px){
	div.setDisplayFlex {
		display: flex!important;
	}
}

.alert.alertTicketCart {
	padding: 2%;
    background-color: #f44336;
    color: white;
    position: absolute !important;
    float: right !important;
    width: 30%;
    right: 0px;
    text-align: center;
    font-size: 18px;
    z-index: 10;
    height: 16.3%;
    box-shadow: 0px 0px 6px 1px #888888;
}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.slider-cardheight{
	height: 245px;
}
/****media****/
@media only screen and (max-width: 643px) {
	#findMagnifier #thumb {
		width: 520px !important;
	}
	#findMagnifier {
		width: 517px !important;
		    overflow: scroll;
	}
	article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
		display: block;
		width: 500px !important;
	}
	#gameBackImage {
		width: 350px !important;
	}
	.popupbtn{
	    width: 98%;
    	font-size: 8px;
   		margin-top: 10px
	}
}

.setDisplayInlineBlock{
    float: right;
    margin-top: -8px;
}

.margint-2{
    margin-top: 2%;
}

.paypalLogo{
	height: 55px;
    background-color: #fff;
    padding: 0% 7%;
    border-radius: 3px;
}

/*#findMagnifier .magnifier-lens { 
	width: 100px !important;
    height: 100px !important;
}

#findMagnifier .magnifier-lens .magnifier-large{ 
	width: 800px !important;
    height: 800px !important;
}*/

/** Checkbox css **/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffa000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/** Checkbox css **/

.addDisplayNone{
	display: none !important;
}

div.win-crosshair-over{
    padding: 0px;
    margin-left: 15px;
}
